@font-face { font-family: Adlery; src: url('fonts/Adlery_TRIAL.ttf'); }

@font-face { font-family: Cardo; src: url('fonts/Cardo-Regular.ttf'); }

@font-face { font-family: CardoItalic; src: url('fonts/Cardo-Italic.ttf'); }

@font-face { font-family: Radley; src: url('fonts/Radley-Regular.ttf'); }

@font-face { font-family: RadleyItalic; src: url('fonts/Radley-Italic.ttf'); }

@font-face { font-family: Carlito; src: url('fonts/Carlito-Regular.ttf'); }

@font-face { font-family: CarlitoBold; src: url('fonts/Carlito-Bold.ttf'); }

html{
    scroll-behavior: smooth;
}
body{
    background-color: #F4F1E8;
}

header{
    z-index:100;
    position: sticky; 
    top: 0;  
    background-color: #F4F1E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-rectangle{
    align-self: center;
    border-radius: 40px;
    width: 700px;
    height: 20px;
    margin-top: 10px;
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-button{
    display: flex;
    flex-direction: column;
}

header button{
    align-self: center;
    background: none;
    border: none; 
    margin: 10px;
    color: black;
    font-size: 15px;
    font-family: 'Carlito';
    cursor: pointer;
    
}

.background-button{
    background-color: #9B4819;
    color: #F4F1E8;
    padding: 10px;
    font-family: "CarlitoBold";
    border-radius: 30px;
}

.underline{
    display:none;
    margin-top: -20px;
    margin-left: auto;
}

.underline img{
    height:7px;
    width: 50px;

}

.hovering:hover + .underline{
    display: block; 
}

.small-circle{
    background-color: #9B4819;
    border-radius: 50%;
    height: 5px;
    width:5px;
}

#header-line{
    background-color: black;
    width:auto;
    margin-top: 20px;
    height: 1px;
}

#AboutMe{
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
}
#hi{
    font-family: 'RadleyItalic';
    font-weight:100;
    font-size: 86px;
    text-align: center;

}

#name{
    font-family: "Radley";
    font-weight: 100;
    font-size: 86px;
    color: #9B4819;
    text-align: center;
}

.name-text{
    font-family: "Carlito";
    font-weight: 100;
    margin-top: 20px;
    padding: 0 300px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 23px;
}

#AboutMe img{
    width: auto;
    height: 175px;;
    border-radius: 100%;
    text-align: center;
}

#my-image{
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
}

.relative{
    position: relative;
    top: 0;
    left: 0;
}

.absolute{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    transform: scale(1.5);
}
.bold{
    font-weight: 500;
}

#Projects{
    background-color: #9B4819;
}

#Projects h1{
    text-align: center;
    color:#F4F1E8;
    font-family: "Radley";
    font-size: 86px;
    padding: 50px;
}

.project-rectangle{
    padding: 40px 120px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px; 
    justify-content: space-around;
}

.my-icon{
    background-color: pink;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition: 0.2s;
}

.centered{
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.project-rectangle a:hover .my-icon
{
    transition: 0.2s;
        background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px #a13e2c;
    opacity: 0.1;
}

.project-rectangle a{
    color: transparent;
    transition: 0.3s;
}

.project-rectangle :hover
{
    color: white;
    transition: 0.3s;
}

.title{
    font-family: "Radley";
    font-size: 30px;
    font-weight: 300;
}

.description{
    font-family: "Carlito";
    font-size: 20px;
    font-weight: 100;
}

#Experience h1{
    text-align: center;
    color: #9B4819;
    font-family: "Radley";
    font-size: 86px;
    padding: 30px 20px;
    margin: 0;
}

.cv-title{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#Experience li{
    font-size: 20px;
}

#Experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.cv{
    padding-bottom: 30px;
    width: 800px;     
}

#download-cv{
    background-color: #9B4819;
    padding: 20px;
    color:#F4F1E8; 

}

.cv h3{
    font-family: 'RadleyItalic';
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.button-center{
    text-align: center;
}

#Education h1{
    text-align: center;
    color: white;
    font-family: "Radley";
    font-size: 86px;
    padding: 30px 20px;
    margin: 0;
}

#Education{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9B4819;
}

#ContactMe h1{
    color: black;
    font-family: "RadleyItalic";
    font-size: 40px;
    padding: 30px 20px;
    margin: 0;
}

#ContactMe h2{
    font-family: 'CardoItalic';
    padding: 30px 20px;
    margin: 0;
}

.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
