@font-face { font-family: Adlery; src: url('/Users/rea/repos/cv/fonts/Adlery_TRIAL.ttf'); }

@font-face { font-family: Cardo; src: url('/Users/rea/repos/cv/fonts/Cardo-Regular.ttf'); }

@font-face { font-family: CardoItalic; src: url('/Users/rea/repos/cv/fonts/Cardo-Italic.ttf'); }

@font-face { font-family: Radley; src: url('/Users/rea/repos/cv/fonts/Radley-Regular.ttf'); }

@font-face { font-family: RadleyItalic; src: url('/Users/rea/repos/cv/fonts/Radley-Italic.ttf'); }

@font-face { font-family: Carlito; src: url('/Users/rea/repos/CV/fonts/Carlito-Regular.ttf'); }

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F4F1E8;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

p{
    font-size: 20px;
}
header p{
    font-family: 'Carlito';
    margin-top:50px;
    margin-bottom:10px;
}

header h1{
    font-family: 'Radley';
    color: #9B4819;
    margin-bottom:20px;
    font-size: 40px;
}

.skills-box{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.skill{
    background-color: #9B4819;
    color: white; 
    font-family: 'Carlito';
    text-align: center;   
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    font-size: 15px;
}

main {
    flex-direction: column;
}
.project-description{
    font-family: 'Carlito';
    margin: 0px 100px;
    margin-bottom: 100px;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}


.column {
    display: flex;
    flex-wrap: wrap;
}

.description {
    background: #333333;
    color: white;
    flex: 1;
}
.image {
    flex: 1;
    
}
img {
    width: 100%;
    vertical-align: top;
}

.description h1{
    text-align:center;
    margin: 20px 50px;
    font-family: 'Radley';
    color: white;
}
    
.description p{
    margin: 0px 30px;
    font-family: 'Carlito';
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4;
}

.end-note{
    margin:30px;
    font-family: "Carlito";
    font-size: 20px;
}

.back-button{
    border: none; 
    background: none; 
    color:white;
    margin: 20px 0px -50px 20px; 
    background-color:  #BD8F53; 
    width: 150px; 
    text-decoration: none; 
    cursor: pointer;
    font-family: 'Carlito';
    text-align: center;   
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    font-size: 15px;
}